## <1> Draw a rectangle with lenght=200 and width=100.

In [53]:
import turtle as t
t.turtlesize(3)
t.pensize(6)
t.color('red')
t.shape('turtle')

In [42]:
t.forward(200)
t.left(90)
t.forward(100)
t.left(90)
t.forward(200)
t.left(90)
t.forward(100)

In [70]:
t.bye()

## <2> Write your initial with turtle.

In [46]:
t.left(180)
t.forward(100)
t.left(90)
t.forward(50)
t.left(90)
t.forward(100)
t.right(90)
t.forward(50)
t.right(90)
t.forward(100)

In [48]:
t.penup()

In [49]:
t.left(180)
t.forward(300)

In [52]:
t.pendown()

In [51]:
t.forward(100)
# it didnot work for me, i tried spyder but my python graphics viewer just won't open.
#instead i used a online website called Trinket

## <3> Write your first name with turtle with each letter of different colors. Also draw a rectangle around your name. Screenshot your name you just wrote using turtle and post it in slack channel.

## <4> Write a code to draw a polygon with n (n>3) sides using turlte.

In [67]:
import turtle as t
def my_poly(n):
    for i in range(n):
        t.forward(100)
        t.left(360/n)

In [69]:
my_poly(5)

## <5> Write a function named polygon that takes n (number of sides) as argument and draw the polygon with n sides.

In [ ]:
import turtle as t
def my_poly(n):
    for i in range(n):
        t.forward(100)
        t.left(360/n)

In [ ]:
#betterway
import turtle
import sys
def drawPolygon(num_side,color,length):
    if int(num_side) <3:
        sys.exit('A Polygon cannot have sides less than 3.')
    num_side = int(num_side)
    angle = 360/num_side
    turtle.pendown()
    turtle.color(color)
    turtle.pensize(4)
    for steps in range(num_side):
        turtle.forward(length)
        turtle.left(angle)

## <6>Print First 10 natural numbers using while loop and for loop.

In [28]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [87]:
i = 1
while i < 10:
 print(i)
 i+=1

1
2
3
4
5
6
7
8
9

In [27]:
#BreakStatement
i = 1
while i < 11:
    print(i)
  
    if i == 10:
        break
    i+=1

1
2
3
4
5
6
7
8
9
10

In [107]:
i = 0
while i<10:
    i+=1
    
    if i == 10:
       
        continue
    print(i)

1
2
3
4
5
6
7
8
9

## <7>Print the following pattern

```1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7```

In [121]:
a = []
for i in range(8):
    a.append(i)
    print(a)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]

In [31]:
for i in range(1,8):
    for a in range(i):
        print(a+1,end=' ')
    print('\n')
#watch the indentation of the last line(take care what falls inside of the loop)

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

1 2 3 4 5 6

1 2 3 4 5 6 7

## <8>Accept number from user and calculate the sum of all number from 1 to a given number.

In [2]:
n = int(input('enter a number:'))
sum=0
for i in range(1,n+1):
    sum = sum + i
print('The sum of all numbers from 1 to',n,'is',sum)
  
# pay attention to indentations

enter a number:50
The sum of all numbers from 1 to 50 is 1275

## <9>Print multiplication table of a given number.

In [4]:
i = int(input('enter a number:'))
for n in range(0,11,1):
    product = i * n
    print(i,'times',n,'equals to',product)

enter a number:8
8 times 0 equals to 0
8 times 1 equals to 8
8 times 2 equals to 16
8 times 3 equals to 24
8 times 4 equals to 32
8 times 5 equals to 40
8 times 6 equals to 48
8 times 7 equals to 56
8 times 8 equals to 64
8 times 9 equals to 72
8 times 10 equals to 80

In [35]:
n = int(input('This program is designed to give you multiplication table of given number,\n please enter the number :'))
for i in range(10):
    print('{0:3}  x  {1:2} = {2:6}'.format(n,i+1,n*(i+1)))

This program is designed to give you multiplication table of given number,
 please enter the number :55
 55  x   1 =     55
 55  x   2 =    110
 55  x   3 =    165
 55  x   4 =    220
 55  x   5 =    275
 55  x   6 =    330
 55  x   7 =    385
 55  x   8 =    440
 55  x   9 =    495
 55  x  10 =    550

## <10> Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration
```number_list = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]```

In [16]:
number_list = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

for i in number_list:
    print(i)

12
15
32
42
55
75
122
132
150
180
200

In [24]:
for i in number_list:
    if i%5==0:
        print('The number',i,'is divisible by 5')
    
    
    else:
            print('The number',i,'isnot divisible by 5 ')

The number 12 isnot divisible by 5
The number 15 is divisible by 5
The number 32 isnot divisible by 5
The number 42 isnot divisible by 5
The number 55 is divisible by 5
The number 75 is divisible by 5
The number 122 isnot divisible by 5
The number 132 isnot divisible by 5
The number 150 is divisible by 5
The number 180 is divisible by 5
The number 200 is divisible by 5

In [2]:
number_list = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in number_list:
    if i < 150 and i%5==0:
        print('The number',i,'is less than 150 and is divisible by 5.')
        
    else:
        print('The number',i,'doesnot fall under desired range.')

The number 12 doesnot fall under desired range.
The number 15 is less than 150 and is divisible by 5.
The number 32 doesnot fall under desired range.
The number 42 doesnot fall under desired range.
The number 55 is less than 150 and is divisible by 5.
The number 75 is less than 150 and is divisible by 5.
The number 122 doesnot fall under desired range.
The number 132 doesnot fall under desired range.
The number 150 doesnot fall under desired range.
The number 180 doesnot fall under desired range.
The number 200 doesnot fall under desired range.

In [3]:
number_list = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in number_list:
    if i < 150 and i%5==0:
        print(i)

15
55
75

## <11> Given a list, iterate it, and display numbers divisible by the number you ask from user.

```number_list = [[12, 15, 32], [42, 55, 75], [122, 132, 150, 180, 200]]```

In [22]:
number_list = [[12, 15, 32], [42, 55, 75], [122, 132, 150, 180, 200]]
print(number_list[0][0:])
print(number_list[1][0:])
print(number_list[2][0:])

[12, 15, 32]
[42, 55, 75]
[122, 132, 150, 180, 200]

In [23]:
#n = int(input('Enter a number : ')
for i in number_list:
    print(i)

[12, 15, 32]
[42, 55, 75]
[122, 132, 150, 180, 200]

In [37]:
n= input('Enter a number of which you wish to find the divisibles in given list:')
n=int(n)
for i in number_list:
    for a in i:
        if a%n == 0:
            print(a)

Enter a number of which you wish to find the divisibles in given list:8
32
200

## <12> Ask user for a whole number and  count the total number of digits in a number. And also don't forget to print the result.

In [41]:
N = input('Enter the number : ')
N = str(N)
count = 0
for i in N:
    count=count+1
print(f'The number of digits in {N} is {count}')

Enter the number : 7546789965
The number of digits in 7546789965 is 10

## <13> Reverse the following list using for loop.
```num_list = [0,1,2,3,4,5,6,7,8,9]```  
Your resultant list should look like [9,8,7,6,5,4,3,2,1,0].

In [48]:
num_list = [0,1,2,3,4,5,6,7,8,9]
reverse_list = []

for i in num_list :
    n = num_list[(-1*(i+1))]
    reverse_list.append(n)
reverse_list

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## <14> For immediate above question write a function named reverse that takes a list as input parameter and then returns the reversed list.

In [58]:
def rev_lister(l):
    reverse_list=[]
    for i in l:
        n = l[-1*(i+1)]
        
        reverse_list.append(n)
    return reverse_list

In [59]:
rev_lister([0,1,2,3,4,5,6,7,8,9])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
#again